/* Einbinden der Schriftart Product Sans */
@import url('https://fonts.googleapis.com/css2?family=Product+Sans&display=swap');

body {
    font-family: 'Product Sans', sans-serif; /* Setze die Schriftart für die gesamte Seite */
    margin: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.6em; /* Etwas kleinere Schriftgröße als vorher */
    overflow: hidden; /* Verhindert das Scrollen auf der Seite */
}

h1 {
    text-align: center; /* Zentriert den Titel */
    font-size: 3em; /* Erhöht die Größe des Haupttitels */
    margin-bottom: 20px; /* Abstand zwischen Titel und Card */
}

#spotify-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Container soll immer den Bildschirm ausfüllen */
    width: 100%;
    overflow: hidden; /* Verhindert das Scrollen im Container */
    text-align: center;
}

.spotify-card {
    display: flex;
    flex-direction: column; /* Vertikale Ausrichtung */
    justify-content: center;
    align-items: center;
    padding: 32px; /* Padding von 32px auf jeder Seite */
    background-color: #e3e3e3;
    border-radius: 32px;
    width: 100vw; /* Breite auf 100% der Bildschirmbreite setzen */
    margin: 0 auto;
    gap: 16px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.cover {
    width: 50vw; /* Bild nimmt 50% der Bildschirmbreite ein */
    height: 50vw; /* Höhe wird ebenfalls auf 50% der Breite gesetzt, um das Bild quadratisch zu halten */
    background-color: black;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-bottom: 16px;
}

#song-title {
    font-weight: bold;
    margin: 0;
    color: #333;
    font-size: 1.8em; /* Etwas kleinere Schriftgröße */
}

#artist-name {
    margin: 0;
    color: #666;
    font-size: 1.4em; /* Etwas kleinere Schriftgröße */
}

#login-button {
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 32px;
    padding: 10px 20px;
    font-size: 1.2em; /* Kleine Anpassung der Schriftgröße */
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-button:hover {
    background-color: #1aa34a;
}

#song-title, #artist-name {
    font-size: 1.6em; /* Textgröße leicht kleiner */
}

@media (max-width: 768px) {
    body {
        font-size: 1.4em; /* Etwas kleinere Schriftgröße für mobile Geräte */
    }

    h1 {
        font-size: 2.5em; /* Etwas kleinere Schriftgröße für den Titel auf mobilen Geräten */
    }

    #song-title, #artist-name {
        font-size: 1.4em; /* Kleinere Schriftgröße auf mobilen Geräten */
    }

    .cover {
        width: 50vw; /* Bild bleibt auf 50% der Breite */
        height: 50vw; /* Bild bleibt quadratisch */
    }
}
