/* Einbinden der Schriftart Product Sans */
@import url('https://fonts.googleapis.com/css2?family=Product+Sans&display=swap');

body {
    font-family: 'Product Sans', sans-serif; /* Setze die Schriftart für die gesamte Seite */
    margin: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 2em; /* Verdoppele die Schriftgröße */
}

#spotify-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spotify-card {
    display: flex;
    flex-direction: column; /* Vertikale Ausrichtung */
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #e3e3e3;
    border-radius: 32px;
    width: 100%;
    max-width: 500px; /* Maximalbreite der Karte */
    margin: 0 auto;
    gap: 16px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.cover {
    width: 100%; /* Bild auf 100% der Breite der Karte */
    height: 0;
    padding-bottom: 100%; /* Höhe auf gleiche Größe wie Breite setzen, um es quadratisch zu machen */
    background-color: black;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-bottom: 16px;
}

#song-title {
    font-weight: bold;
    margin: 0;
    color: #333;
}

#artist-name {
    margin: 0;
    color: #666;
}

#login-button {
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 32px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-button:hover {
    background-color: #1aa34a;
}

#song-title, #artist-name {
    font-size: 2em; /* Verdoppele die Schriftgröße für Titel und Künstler */
}

h1 {
    text-align: center; /* Zentriert den Titel */
    font-size: 3em; /* Erhöht die Größe des Haupttitels */
}

@media (max-width: 768px) {
    .spotify-card {
        width: 100%;
        max-width: 100%; /* Auch hier die Breite auf 100% setzen */
    }

    .cover {
        width: 100%; /* Bild bleibt 100% der Breite */
        height: 0;
        padding-bottom: 100%; /* Bild bleibt quadratisch */
    }

    /* Schriftgröße für mobile Geräte anpassen */
    body {
        font-size: 1.5em; /* Etwas kleinere Schriftgröße für mobile Geräte */
    }

    h1 {
        font-size: 2.5em; /* Etwas kleinere Schriftgröße für den Titel auf mobilen Geräten */
    }

    #song-title, #artist-name {
        font-size: 1.5em; /* Kleinere Schriftgröße auf mobilen Geräten */
    }
}
